*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto,System-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',  Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    height: 100vh;
    background: url("assets/1732235.webp") no-repeat;
}
p{
    /* width: min-content; */
}
button{
    cursor: pointer;
}
dialog{
    padding: 50px;
    position: absolute;
    font-size: 2rem; 
    border-radius: 10px;
    width: 30%;
    top:50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
ul{
    list-style: none;
}
input{
    appearance: none;
}
.content{
    height: 100%;
    display: grid;
    grid-template-columns: max-content 1fr;
    gap:1rem;
}

.sidebar{
    position: relative;
    /* padding: 1rem; */
    height: 100%;
    display: flex;
    flex-direction: column;
    gap:6rem;
    .logo{
        padding: 1rem;
        display: flex;
        align-items: center;
        gap: 1rem;
        font-size: 1.5rem;
        color:white;
        img{
            width: 6rem;
            height: auto;
        }
    }
    .sideBg{
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: black;
        opacity: .5;
        z-index: -2;
    }
    .newList{
        display: flex;
        justify-content: space-between;
        font-size: 3rem;
        align-items: center;
        padding: 1rem;
    }
    .listsContainer{
        display: flex;
        flex-direction: column;
        gap:2rem;
        .lists{
            display: flex;
            flex-direction: column;
            font-size: 2rem;
        }
        .list{
            text-align: center;
            padding: 1rem;
            cursor: pointer;
        }
        .list:hover{
            transition: .3s ease;
            color:white;
            background-color: #8731ef;
        }
    }


}
.main{
    display: flex;
    flex-direction: column;
    .header{
        background-color: black;
        color:white;
        margin: 1rem;
        margin-left: 0 ;
        font-size: 2rem;
        width: max-content;
        padding: .625rem 1rem;
        border-radius: .625rem;
    }
    .mainContent{
        display: flex;
        flex: 1;
        gap:1.5rem;
        .listOrg , .taskViewTab{
            background-color: rgb(0, 0, 0);
            color:white;
            flex:1;
            border-radius: 1rem;
            padding:1rem;
            min-width: 30rem;
        }
        .taskViewTab{
            display: flex;
            flex-direction: column;
            div{
                max-width:  30rem;
                overflow-wrap: break-word;
            }
        }
        .taskView{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            height: 60%;
            border-radius: .625rem;
            padding:1rem;
            font-size: 2rem;
            /* background-color: rgb(96, 96, 96); */
            .taskTitle{
                font-size: 3rem;
                font-weight: bold;
                align-self: center;
            }
        }
        .listOrg{
            min-width: 15rem;
            /* display: flex;
            flex-direction: column; */
            #newTaskBtn{
                position: absolute;
                bottom: 1rem;
                right:1rem;
            }
            .tasks{
                height: 37rem;
                display: flex;
                flex-direction: column;
                gap:1rem;
                overflow: auto;
                .task{
                    background-color: rgb(96, 96, 96);
                    min-height: 3rem;
                    display: flex;
                    padding:1rem;
                    gap:1rem;
                    border-radius: .625rem;
                    align-items: center;
                    p{
                        margin-right: auto;
                        font-size: 2rem;
                    }
                }
            }
            .task:hover{
                background-color:rgb(78, 78, 78) ;
            }
            position: relative;
            
        }
        padding: 0 4rem 2rem 0;
    }
}

.checkbox {
	width: 40px;
	height: 40px;
	background: #ddd;
	border-radius: 100%;
	position: relative;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
}
.checkbox label {
	display: block;
	width: 30px;
	height: 30px;
	border-radius: 100px;

	transition: all .5s ease;
	cursor: pointer;
	position: absolute;
	top: 5px;
	left: 5px;
	z-index: 1;

	background: #ffffff;
	box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5);
}
.checkbox input[type=checkbox]:checked + label {
	background: #8731ef;
}

#newTaskBtn , #newListBtn , .editBtn , .removeBtn{
    border: none;
    background: transparent;
    img{
        width: 3rem; 
        height: 3rem;
        /* pointer-events: none; */
        filter: invert(30%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(90%) contrast(100%);
    }
    img:hover{
        filter: invert(37%) sepia(65%) saturate(7486%) hue-rotate(259deg) brightness(90%) contrast(100%);    
    }
}
